body{
background-color: #ffffff;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxOTAnIGhlaWdodD0nMTkwJyB2aWV3Qm94PScwIDAgMTA3IDEwNyc+Cgk8cGF0aCBkPSdNNTMuNSwzNWMwLC0zMCA0MCwtMzAgNDAsMGMwLDMwIC00MCw2MCAtNDAsNjBjMCwwIC00MCwtMzAgLTQwLC02MGMwLC0zMCA0MCwtMzAgNDAsMCcgZmlsbD0nI2FhMDAwMCcvPgo8L3N2Zz4K');
}
